body{
  background-color: hsl(207, 26%, 17%);
}
button,select{
  background-color: hsl(209, 23%, 22%);
}
.header,.card{
  background-color: hsl(210, 17%, 23%);
}
h1,h2,h3,h4,h5,label,p{
  color: hsl(0, 0%, 100%);
}
