body{
  background-color: hsl(0, 0%, 98%);
}

button,select{
  background-color: hsl(0, 0%, 100%);
}
.header,.card{
  background-color: hsl(0, 0%, 100%);
}
h1,h2,h3,h4,h5,label{
  color: hsl(0, 0%, 0%);
}
