/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
